.page-nav {
  text-decoration: none;
  color: black;
}

.vid-list td:nth-of-type(1) {
  width: 100%;
}

iframe {
  float: left;
  border: none;
}

.desc {
  display: inline-block;
  float: left;
  width: 65%;
  height: 315px;
  box-sizing: border-box;
  border-top: 40px solid black;
  border-bottom: 40px solid black;
  padding: 10px 20px 10px 20px;
}

.vid-list tr:nth-of-type(odd) {
  background-color: lightgray;
}

.comments td:nth-of-type(1) {
  width: 300px;
}

.comments td:nth-of-type(2) {
  width: 100%;
}